.App {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, var(--main-color), var(--secondary-color));
}

.button {
  position: absolute;
  bottom: 15px;
  right: 30px;
  padding: 8px 13px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(to left, var(--main-color), var(--secondary-color));
  color: black;
  cursor: pointer;
}